extends ../layouts/default

block content
    .container
        h1 Manage Organizations
        table.table.table-striped
            thead
                tr
                    td Name
                    td URL
                    td Actions
            tbody
                for org in orgs
                    tr
                        td= org.login
                        td= org.url
                        td
                            a(href='/leave/#{org.login}') Leave Organization
