extends ../layouts/default

block content
    .container
        h1 Manage Organizations
        table.table.table-striped
            thead
                tr
                    td Name
                    td URL
                    td Actions
            tbody
                for org in orgs
                    tr
                        td= org.name
                        td= org.url
                        td
                            if org.active
                                a(href='/leave/#{org.name}') Leave
                            else
                                a(href='/join/#{org.name}') Join
