extends ../../layouts/default

block content
    .container
        h1 Confirm your account details
        form(method='post', autocomplete='off', novalidate).profile-form
            input(type='hidden', name='action', value='confirm.details')
            p.lead.mb-2 Thanks for signing in, please confirm your account:
            +flash-messages(messages)
            .form-group
                    input(type='text', name='name.first', placeholder='First Name (required)', value=authUser.name.first).form-control
            .form-group
                    input(type='text', name='name.last', placeholder='Last Name (required)', value=authUser.name.last).form-control
            .form-group
                input(type='email', name='email', placeholder='Email (required)', value=authUser.email).form-control.form-control-labelled
            .form-group
                button(type='submit').btn.btn-primary.btn-block Confirm &rarr;
